body{
    padding:0;
    margin:0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slide_show-container{
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    margin: auto;
    border: 2px solid black;
}